<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sánchez, Melina Anahí</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-8">
        <span>
            <h2>Acerca de mi</h2>
            <p>Tengo 27 años, soy oriunda de Viale, Entre Ríos pero actualmente vivo en Paraná
                <br> Juego al voley y al beach voley
            </p>
        </span>
    </div>
</div>
