<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos architecto totam voluptas numquam vitae, saepe voluptate incidunt quam dolores sequi porro vel officiis dolorem non repellendus libero repudiandae ex voluptatum!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos architecto totam voluptas numquam vitae, saepe voluptate incidunt quam dolores sequi porro vel officiis dolorem non repellendus libero repudiandae ex voluptatum!</p>
        </ul><ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos architecto totam voluptas numquam vitae, saepe voluptate incidunt quam dolores sequi porro vel officiis dolorem non repellendus libero repudiandae ex voluptatum!</p>
        </ul>
    </div>
</div>
