<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Encriptador</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magni necessitatibus nam quisquam dolor modi, quibusdam odio vitae nesciunt. Expedita ipsam amet ex dicta quis, velit repellendus eaque! Ipsam, mollitia!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
