<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="80"
            [imageWidth]="80"
            [title]="'HTML'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="80"
            [imageWidth]="80"
            [title]="'CSS'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/JavaScript.png'"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="80"
            [imageWidth]="80"
            [title]="'JavaScript'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/github1.png'"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="80"
            [imageWidth]="80"
            [title]="'HitHub'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/ingles.png'"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [title]="'Inglés'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/TrabajoColaborativo.png'"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="95"
            [imageWidth]="95"
            [title]="'Trabajo colaborativo'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="1000"
        ></circle-progress>
    </div>
</div>
